
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-tap-highlight-color: transparent ;
}
:root {
    --background: rgb(224, 224, 224);
    --text-primary: black;
    --text-primary-light:rgb(153, 153, 153);
    --text-secondary: royalblue;
    --navLine: rgb(107, 107, 107);
    --navBarLine: rgba(141, 141, 141, 0.445);
    --navBarLin: rgb(202, 202, 202);
    --shadow: rgb(46, 46, 46);
    --accent: purple;
    --resume: rgb(196, 196, 196);
    --theme-icon: rgb(82, 82, 82);
    --blue: rgb(0, 12, 177);
    --twitter: royalblue;
    --github:black;
    --youtube: red;
    --font-para: 32px;
    --para-weight: 500;
    --mobile:1450px;
    --jobHighlited:rgb(82, 82, 82,1);
    --jobNotHighlighted: rgba(83, 83, 83, 0.2);
    --IconBackground:  linear-gradient(180deg, var(--background)50%,transparent 100%);
  }
  [data-theme='dark'] {
    --background: rgb(26, 26, 26);
    --text-primary: rgb(244, 244, 244);
    --text-primary-light: rgb(122, 122, 122);                                                                                                                     
    --theme-icon: rgb(244,244,244);                                                                                                                                                                                       
    --text-secondary: grey;
    --blue: grey;
    --twitter: grey;
    --github:grey;
    --youtube: grey;
    --navLine: rgba(252, 42, 7, 0.507);
    --navBarLine: rgba(56, 56, 56, 0.603);
    --shadow: rgba(219, 219, 219, 0.8);
    --navBarLin: rgb(46, 46, 46);
    --accent: darkred;
    --resume: rgba(136, 136, 136, 0.445);
    --jobHighlited:rgba(200,200,200,1);
    --jobNotHighlighted:rgba(200,200,200,0.2);
    --IconBackground:  linear-gradient(180deg, var(--background)50%,transparent 100%);
  }

  


   
